<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" id="homenav" href="/index">Personal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="worknav" href="/work">Work</a>
  </li>
</ul>